<div class="view home" ng-controller="homeCtrl">
  <div class="your-team">
    <div class="your-banner themed-border">
      <h3>Your Team</h3>
    </div>
    <h1>{{username}}</h1>
    <div class="row">
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke1}}">
        <img src="{{userPoke1Img}}" alt="" />
      </div>
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke2}}">
        <img src="{{userPoke2Img}}" alt="" />
      </div>
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke3}}">
        <img src="{{userPoke3Img}}" alt="" />
      </div></div>
    <div class="row">
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke4}}">
        <img src="{{userPoke4Img}}" alt="" />
      </div>
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke5}}">
        <img src="{{userPoke5Img}}" alt="" />
      </div>
      <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{userPoke6}}">
        <img src="{{userPoke6Img}}" alt="" />
      </div></div>
  </div>
  <div class="other-teams">
    <div class="other-banner themed-border pointer" ng-click="getRandomUserTeams()">
      <h3>Other Teams</h3>
    </div>
    <div class="container">
      <div ng-repeat="items in random_info">
        <div ng-repeat="i in random_nums">
          <div class="random">
            <h3>{{items.username[i]}}</h3>
            <div class="row">
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke1[i]}}">
                <img src="{{items.poke1Img[i]}}" alt="" />
              </div>
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke2[i]}}">
                <img src="{{items.poke2Img[i]}}" alt="" />
              </div>
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke3[i]}}">
                <img src="{{items.poke3Img[i]}}" alt="" />
              </div></div>
            <div class="row">
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke4[i]}}">
                <img src="{{items.poke4Img[i]}}" alt="" />
              </div>
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke5[i]}}">
                <img src="{{items.poke5Img[i]}}" alt="" />
              </div>
              <div class="pokemon-block themed-border" data-toggle="tooltip" title="{{items.poke6[i]}}">
                <img src="{{items.poke6Img[i]}}" alt="" />
              </div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
